<!DOCTYPE html>
<html>
<head>
    <title>Using range in html/template</title>
</head>
<body>
    <p>Major tier languages for web programming:</p>
    <ul>
        {{range .Langs}}
        <li>{{ . }}</li>
        {{end}}
    </ul>
</body>
</html>